h1 {
    margin: 25px auto;
}
h2 {
    margin:15px auto;
}
.row {
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid cadetblue;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    height: 1000px;
}